.item-detail-buttons {
    display: flex;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.quantity-buttons {
    display: flex;
    align-items: center;
    border: 1px solid #964b0033;
    border-radius: 20px;
}

.decrement-button {
    background-color: #964b00;
    color: #fff;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.increment-button {
    background-color: #964b00;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button {
    background-color: #964b00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 15vw;
}

.decrement-button:hover,
.increment-button:hover,
.add-to-cart-button:hover {
    background-color: #6a3600;
}

.quantity {
    margin: 0 20px;
    /* Espacio entre los botones "+" y "-" y la cantidad */
}