picture {
    display: flex;
    justify-content: center;
}

picture img {
    width: 80vw;
    height: 65vh;
    object-fit: fill;
}

picture p {
    color: #232429;
    font-size: -webkit-xxx-large;
    font-weight: lighter;
    position: absolute;
    top: 78vh;
}