.navCart{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navCart p{
    position: absolute;
    top: -20px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
