/* CheckoutForm.css */

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #6d4e4e; /* Cambio en el color del borde del input */
    color: #6d4e4e; /* Cambio en el color del texto del input */
  }
  
  button {
    background-color: #6d4e4e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #3f2e2e;
  }
  

button.disabled {
  opacity: 0.5; 
  cursor: not-allowed; /* Cambiar el cursor a 'no permitido' */
}
